<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Meta requerido para la correcta visualización en dispositivos móviles y compatibilidad con navegadores -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Título de la página, importante para el SEO -->
		<title>ELG SIEM PROTECT -- Soluciones de ciberseguridad para empresas</title>
		
		<!-- Descripción de la página, importante para el SEO -->
		<meta name="description" content="En ELG SIEM PROTECT ofrecemos soluciones avanzadas de ciberseguridad basadas en sistemas SIEM de código abierto. 
    	Monitorizamos, analizamos y respondemos a amenazas en tiempo real para proteger los activos digitales de empresas y organizaciones. 
 		Descubre cómo mejorar tu seguridad informática con nuestras herramientas profesionales, recursos formativos y soporte experto.">
	
		
		<!-- Palabras clave, aunque ya no son tan relevantes para el SEO, algunas herramientas aún las utilizan -->
		<meta name="keywords" content="Impresiones 3D personalizadas, Regalos 3D únicos, Diseños STL descargables, Objetos impresos en 3D,
		 Regalos para el Día de la Madre en 3D, Decoración navideña 3D, Videos de impresión 3D, Blog de impresión 3D, Tutoriales de impresión 3D,
		Comunidad de impresión 3D, Arte en 3D, Modelos 3D personalizables, Comprar STL, Archivos STL premium, Regalos originales, Ideas de regalos 3D, Artesanía en 3D, Viper3D, ender3, prusa, cura, regalos para novios">
	
		
		<!-- Enlace a la hoja de estilos de Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
	
		
		<!-- Enlace a tu hoja de estilos personalizada -->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
		<link rel="icon" type="image/png" href="/img/logo.png">
	
	</head>
<body>
    <!-- Contenido de la página -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark header-gradient">
			<div class="container">
				<div class="logo-container">
					<a class="navbar-brand logo-zoom" href="/">
						<img src="/img/logo.png" alt="Viper3D">
					</a>
				</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/tienda">Tienda</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/servicios">Servicios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact">Contacto</a>
						</li>
						<li class="nav-item nav-link " id="led-indicator">
							<span class="login-text">Inicia Sesión </span>
							<i class="fas fa-user status-indicator ms-2"></i>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

    <!-- Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  <div id="login-form">
				<!-- Contenido del formulario de inicio de sesión -->
				<form id="loginForm" action="/login" method="POST">
				  <div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
					<div class="position-relative">
						<input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
					  <span class="text-danger small" id="emailError"></span>
					  <i class="bi bi-check-circle text-success" id="emailValid" style="display:none; position:absolute; right:0; top:50%; transform: translateY(-50%);"></i>
					</div>
				  </div>
				  <div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Contraseña</label>
					<div class="position-relative">
						<input type="password" class="form-control" id="exampleInputPassword1" name="password">
					  <span class="text-danger small" id="passwordError"></span>
					  <i class="bi bi-check-circle text-success" id="passwordValid" style="display:none; position:absolute; right:0; top:50%; transform: translateY(-50%);"></i>
					</div>
				  </div>
				  <button type="submit" class="btn btn-primary btn-sm" id="loginBtn">Iniciar sesión</button>
				</form>
			  </div>
			  <div id="register-form" style="display:none;">
			<!-- Contenido del formulario de registro -->
			<form id="registerForm" action="/register" method="POST">
				<div class="mb-3">
				<label for="registerName" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="registerName" name="name">
				<span class="form-text text-danger" id="registerNameError" style="display:none;"></span>
				</div>
				<div class="mb-3">
				<label for="registerEmail" class="form-label">Correo electrónico</label>
				<input type="email" class="form-control" id="registerEmail" name="email" aria-describedby="emailHelp">
				<span class="form-text text-danger" id="registerEmailError" style="display:none;"></span>
				</div>
				<div class="mb-3">
				<label for="registerCountry" class="form-label">País</label>
				<input type="text" class="form-control" id="registerCountry" name="country">
				<span class="form-text text-danger" id="registerCountryError" style="display:none;"></span>
				</div>
				<div class="mb-3">
				<label for="registerPassword" class="form-label">Contraseña</label>
				<input type="password" class="form-control" id="registerPassword" name="password">
				<span class="form-text text-danger" id="registerPasswordError" style="display:none;"></span>
				</div>
				<div class="mb-3">
				<label for="registerPasswordConfirm" class="form-label">Repetir contraseña</label>
				<input type="password" class="form-control" id="registerPasswordConfirm" name="passwordConfirm">
				<span class="form-text text-danger" id="registerPasswordConfirmError" style="display:none;"></span>
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Registrar usuario</button>
			</form>
  
	
		  </div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-dark btn-sm" id="show-register-modal">Registrarse</button>
			<button type="button" class="btn btn-dark btn-sm" id="show-login-modal">Inicio de sesión</button>
		</div>
	  </div>
	</div>
  </div>
    	<!-- Contenido Acerca de -->
<div class="container mt-3">
    <h1 class="text-center mb-5">Acerca de nosotros</h1>

    <div class="row">
        <div class="col-md-6 p-4">
            <img src="/img/impresora3d.png" alt="Imagen representativa de la empresa" class="img-fluid p-4">
        </div>
       <div class="col-md-6 mt-5">
		<h2>Sobre ELG Company</h2>
		<p>
			ELG Company es una empresa comprometida con la ciberseguridad y la protección de datos. Fundada en 2023, nuestro objetivo es ofrecer soluciones avanzadas de monitorización y respuesta ante incidentes mediante tecnologías SIEM (Security Information and Event Management).
		</p>
		<h3>Nuestro Propósito</h3>
		<p>
			Nos proponemos proporcionar a empresas y organizaciones las herramientas necesarias para detectar amenazas, analizar eventos de seguridad en tiempo real y garantizar el cumplimiento normativo. Nuestra misión es hacer de la seguridad digital una realidad accesible para todos.
		</p>
		<h3>Nuestra Meta</h3>
		<p>
			Aspiramos a convertirnos en un referente en soluciones de ciberinteligencia y prevención de ciberataques. Creemos en la innovación constante, la formación continua y el trabajo colaborativo como pilares para proteger el presente y el futuro digital de nuestros clientes.
		</p>
	</div>
</div>

<div class="row bg-dark rounded text-white p-3 mb-3">
			<!-- Política de Privacidad -->
			<h2 class="text-center mb-5">Política de Privacidad</h2>
			<p>
				En ELG Company, respetamos su privacidad y estamos comprometidos con la protección de los datos personales de nuestros visitantes. Esta política de privacidad explica cómo recopilamos, usamos y compartimos información en nuestro sitio web.
			</p>
			<h3>Información que recopilamos</h3>
			<p>
				Podemos recopilar información sobre usted cuando nos proporciona información directamente (por ejemplo, al contactarnos a través de nuestros formularios de contacto), así como información de forma automática al visitar nuestro sitio web (por ejemplo, a través de cookies).
			</p>
			<h3>Cómo usamos su información</h3>
			<p>
				Utilizamos la información recopilada para mejorar su experiencia en nuestro sitio web, para entender mejor cómo se utiliza nuestro sitio web y para comunicarnos con usted en relación con los servicios que ofrecemos.
			</p>
			<h3>Compartir su información</h3>
			<p>
				No compartimos su información personal con terceros, excepto según sea necesario para proporcionar nuestros servicios o como lo requiera la ley.
			</p>
			<h3>Sus derechos</h3>
			<p>
				Según la legislación aplicable, puede tener el derecho de acceder, corregir, eliminar o limitar el uso de su información personal. Para ejercer estos derechos, póngase en contacto con nosotros.
			</p>
			<h3>Cookies y tecnologías de seguimiento</h3>
			<p>
				Usamos cookies para recopilar información sobre cómo interactúa con nuestro sitio web. Puede configurar su navegador para rechazar todas o algunas cookies, o para alertarle cuando se envían cookies.
			</p>
			<!-- Fin de la Política de Privacidad -->
</div>

	
			<!-- Política de Privacidad -->
			<h2 class="text-center mb-5">Aviso Legal</h2>
			<p>
				El acceso y uso de este sitio web están sujetos a los siguientes términos y condiciones y a todas las leyes aplicables. Al acceder y navegar por este sitio, aceptas, sin limitación ni reserva, estos términos y condiciones.
			</p>
			<h3>Uso del sitio</h3>
			<p>
				El contenido de este sitio web es para tu uso personal y no comercial. No está permitido copiar, distribuir, modificar, transmitir o usar el contenido de este sitio para fines públicos o comerciales sin el consentimiento de ELG Company.
			</p>
			<h3>Propiedad intelectual</h3>
			<p>
				El contenido, las imágenes, los logotipos y otros materiales visuales presentes en este sitio son propiedad de ELG Company o se utilizan con el permiso de sus propietarios y no se pueden utilizar sin nuestro consentimiento previo por escrito.
			</p>
			<h3>Exclusión de garantías</h3>
			<p>
				La información en este sitio web se proporciona "tal cual", sin garantías de ninguna clase, ya sean explícitas o implícitas.
			</p>
			<h3>Limitación de responsabilidad</h3>
			<p>
				Ni ELG Protect ni ninguna otra parte involucrada en la creación, producción o entrega de este sitio será responsable de ningún daño directo, incidental, consecuente, indirecto o punitivo que surja del acceso, uso o incapacidad de usar este sitio web, o de cualquier error u omisión en el contenido del mismo.
			</p>
			<h3>Enlaces a sitios de terceros</h3>
			<p>
				ELG Protect puede proporcionar enlaces a sitios web operados por terceros. El acceso a cualquier otro sitio vinculado desde este es por tu cuenta y riesgo.
			</p>
			<h3>Modificaciones</h3>
			<p>
				ELG Protect se reserva el derecho de modificar estos términos y condiciones de uso del sitio web en cualquier momento y sin previo aviso.
			</p>
			<h3>Contacto</h3>
			<p>
				Si tienes alguna pregunta sobre este aviso legal, por favor póngase en contacto con nosotros.
			</p>

			<!-- Fin de la Política de Privacidad -->
		</div>
    </div>

	</div>

	<footer class="footer-gradient py-3">
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-4 text-center">
					<h5>Acerca de ELG Protect</h5>
					<p>Somos una empresa que busca integrar la seguridad en la vida cotidiana de todas las empresas a través de nuestro SIEM.</p>
				</div>
				<div class="col-md-4 text-center">
					<h5>Enlaces rápidos</h5>
					<ul class="list-unstyled">
						<li><a href="/">Inicio</a></li>
						<li><a href="/tienda">Tienda</a></li>
						<li><a href="/servicios">Servicios</a></li>
						<li><a href="/about">Sobre Nosotros</a></li>
						<li><a href="/contact">Contacto</a></li>
					</ul>
				</div>
				<div class="col-md-4 text-center">
					<h5>Síguenos en redes sociales</h5>
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<a href="https://www.youtube.com/@elgprotect" class="social-icon" target="_blank" rel="noopener noreferrer">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.tiktok.com/@elgprotect" class="social-icon" target="_blank" rel="noopener noreferrer">
								<i class="fab fa-tiktok"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.instagram.com/elgprotect/" class="social-icon" target="_blank" rel="noopener noreferrer">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/profile.php?id=61552051646865" class="social-icon" target="_blank" rel="noopener noreferrer">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>&copy; 2025 ELG Protect. Todos los derechos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	
    <!-- Biblioteca jQuery, requerida por Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Biblioteca Popper.js, requerida por Bootstrap para algunos componentes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    
    <!-- Biblioteca de JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
	
    <script src="/js/main.js"></script>
	<script src="/js/submenu_categories.js"></script>

</body>
</html>